/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Sep 14, 2025, 11:06:24 PM
    Author     : PHUOCSANH
*/

.box {
    background-color: blue;
    min-height: 50px;
    margin-top: 10px;

}

/* Màu trang */
body {
    background-color: #000000;
}

/* Màu thanh navbar */
.navbar-bg {
    background-color: #0F111A;
}

.navbar,
.navbar a,
.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;

}

/* Thanh search */
.search-box {
    background-color: #22242C;
    /* nền tối*/

    color: #f5f5f5;
    /* chữ sáng */

    border: 1px solid #444;
    /* viền xám */

    border-radius: 50px;
    /* bo tròn*/

    padding: 10px 18px;

    font-size: 15px;
    transition: all 0.3s ease;
    /* hiệu ứng mượt */

    width: 400px;

}

.search-box {
    width: 100%;
    padding-right: 20%;
    /* chừa chỗ cho icon */
}

.search-box-wrapper {
    position: relative;
    /*relative để icon định vị */
    width: 400px;
    /* giữ đúng độ rộng */
}

.search-icon {
    position: absolute;
    right: 15px;
    /* cách mép phải */
    top: 50%;
    transform: translateY(-50%);
    /* căn giữa theo chiều dọc */
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.search-box::placeholder {
    color: #aaa;
    /* placeholder nhạt, không chói */
}

.search-box:focus {
    outline: none;
    border-color: #e50914;
    /* đỏ Netflix khi focus */
    box-shadow: 0 0 12px rgba(229, 9, 20, 0.5);
    background-color: #111;
    /* khi focus nền tối hơn */
    color: #ffffff;
}



.login-btn {
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    padding: 6px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #e50914;
    /* đỏ nổi bật khi hover */
    border-color: #e50914;
    color: #fff;
    cursor: pointer;
}

.dropdown-menu {
    background-color: #1b1928;
    /* nền tối */
    border: none;
    /* bỏ viền trắng */
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* cho khớp với navbar */
}

.dropdown-menu.multi-column {
    columns: 2;
    /* số cột */
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 20px;
    /* khoảng cách giữa 2 cột */
    min-width: 300px;
    /* tăng chiều rộng menu */
}

.navbar a:hover {
    font-weight: bold;

}