/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 25, 2025, 3:21:23 PM
    Author     : Nguyen Van Phi - CE190465
*/

body {
  margin: 0;
  height: 100vh;
  background-color: #0d0d0d;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

h1 {
  font-weight: bold;
  margin-bottom: 30px;
}

.plan-card {
  display: inline-block;
  background-color: #111;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
  border: 1px solid #e50914;
}

/* áº¢nh Premium */
.premium-img {
  width: 50px;
  border-radius: 12px;
  margin-bottom: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

.premium-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 50, 50, 0.6);
}

.plan-info {
  text-align: left;
  margin-bottom: 25px;
}

.label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

.value {
  color: #fff;
}

.buy-btn {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 8px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.buy-btn:hover {
  background-color: #ff1a1a;
}

a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: inherit;
  outline: none;
}
